<div class="save-filter-dialog">
    <h1 mat-dialog-title>Do you want to Delete this Filter?</h1>
    <mat-dialog-actions class="dialogBtn">
      <button mat-button (click)="onNoClick()">No Thanks</button>
      <button mat-button (mat-dialog-close)="data.filterName" type="submit"
       cdkFocusInitial (click)="onClickMe()">Ok</button>
    </mat-dialog-actions>
    </div>