<div class="save-filter-dialog">
<h1 mat-dialog-title>Do you want to Save this Filter?</h1>
<p>{{data.name}}<p>
  <mat-dialog-content [formGroup]="form" (ngSubmit)="onClickMe()">
  <p>What is Filter's Name?</p>
  <mat-form-field>
    <input matInput formControlName="filterName">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="dialogBtn">
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (mat-dialog-close)="data.filterName" type="submit"
   cdkFocusInitial (click)="onClickMe()">Ok</button>
</mat-dialog-actions>
</div>