.intro-header {
  height: unset !important;
}
.top-nav-collapse {
  background-color: #f8bbd0 !important;
}
.view {
  height: 100vh !important;
}
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
.topMargin {
  margin-top: 5%;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
      background: #f8bbd0 !important;
  }
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
      height: 700px;
  }
}