<header class="intro-header">
    <app-nav-header></app-nav-header>
    <!-- Main -->
    <!-- Intro Section -->
    <div class="container">
        <app-virtual-scroll-demo></app-virtual-scroll-demo>
    </div>
</header>