<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark default-color   scrolling-navbar ie-nav" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#"><strong>RTC</strong></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbWavesEffect>
                <a class="nav-link">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/devices"><strong>DeviceList</strong></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/reports"><strong>Reports</strong></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/admin"><strong>Admin</strong></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/super-admin"><strong>RTC Admin</strong></a>
            </li> -->
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/register"><strong>Register</strong></a>
            </li>
        </ul>
        <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
            <!-- <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Contact</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-comments-o"></i> <span class="clearfix d-none d-sm-inline-block">Support</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Account</span></a>
        </li> -->
        <li class="nav-item dropdown btn-group" dropdown>
            <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                {{globals.user['name'] | titlecase}}
            </a>
            <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                <a class="dropdown-item" routerLink="/register">Register</a>
            </div>
            <div class="dropdown-menu dropdown-secondary dropdown-menu-right" role="menu">
                <a class="dropdown-item" routerLink="/logout">Logout</a>
            </div>
        </li>
        </ul>
    </links>
</mdb-navbar>

