.dropdown-select {
  display: block;
  position: relative;
}

.dropdown-select-list {
  position: absolute;
  left: 0;
  top: 35px;
  width: 100%;
  z-index: 2;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-select .dt-input-group input:not([disabled]) {
  cursor: pointer;
}

input.select-input[readonly]:not([disabled]) {
  background-color: white;
}
