<div class="dt-input-group" (click)="open()">
  <input class="dt-input select-input"
         readonly="readonly"
         value="{{selectedName}}"
         placeholder="{{placeholder}}"
         [disabled]="disabled">
  <button class="dt-button dt-white" [disabled]="disabled">
    <i class="dt-icon asc" *ngIf="isOpen"></i>
    <i class="dt-icon desc" *ngIf="!isOpen"></i>
  </button>
</div>
<div class="dropdown-select-list" *ngIf="isOpen">
  <app-select-list
      [options]="options"
      [selected]="selectedOptions"
      [multiple]="multiple"
      [isOpen]="isOpen"
      [selectAllMessage]="selectAllMessage"
      [cancelMessage]="cancelMessage"
      [clearMessage]="clearMessage"
      [searchMessage]="searchInputPlaceholder"
      (selectionChange)="onSelectionChange($event)"
      (selectionCancel)="onSelectionCancel()">
  </app-select-list>
</div>
