<dt-message [severity]="'danger'" [text]="this.dataManager.errors"></dt-message>

<dt-toolbar #toolbar
            [table]="dataManager"
            [createAction]="dataManager.settings.crud"
            [globalFilter]="dataManager.settings.globalFilter"
            [exportAction]="dataManager.settings.exportAction"
            (create)="createAction()">
</dt-toolbar>

<app-data-table [table]="dataManager"></app-data-table>

<app-modal-edit-form #modalEditForm [dataManager]="dataManager" (loaded)="onLoadedForm()">
</app-modal-edit-form>

<ng-template #rowActionTemplate let-row="row">
  <button class="button-actions" (click)="viewAction(row)">
    <i class="icon icon-actions"></i>
  </button>
</ng-template>

<app-row-menu #rowMenu [menu]="actionMenu"></app-row-menu>
