.icon-collapsing {
  box-sizing: border-box;
  display: inline-block;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 18px;
  height: 18px;
  animation: spin 2s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* spinner 2 */
.spinner {
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 -20px 0 24px #5b9bd5 inset;
  animation: spin 1s infinite linear;
}

.spinner {
  position: absolute;
  top: calc(5% - 30px);
  left: calc(50% - 30px);
  z-index: 1000;
}
