<br>
<br>
<div class="view">
  <div class="container">
    <div class="login-form">
      <form class="form-register" [formGroup]="userForm" (ngSubmit)="register()" #registerForm="ngForm">
        <div class="register">
          <h2 class="text-center">Register</h2>
          <hr class="colorgraph">
          <br>
          <div class="form-group">
            <input type="text" formControlName="name" name="name" placeholder="Name" class="form-control" required />
            <p class="error_message" *ngIf="userForm.get('name').invalid && (userForm.submitted || userForm.get('name').dirty)">Please provide your Name</p>
          </div>
          <div class="form-group">
            <input type="email" formControlName="email" name="email"  placeholder="Email" class="form-control" required />
            <p class="error_message" *ngIf="userForm.get('email').invalid && (userForm.submitted || userForm.get('email').dirty)">Please provide correct Email</p>
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" name="password"  placeholder="Password" class="form-control" required />
            <p class="error_message" *ngIf="userForm.get('password').invalid && (userForm.submitted || userForm.get('password').dirty)">Please provide correct Password</p>
          </div>
          <div class="form-group">
            <input type="password" formControlName="c_password" name="c_password"  placeholder="Confirm Password" class="form-control" required />
            <p class="error_message" *ngIf="userForm.get('c_password').invalid && (userForm.submitted || userForm.get('c_password').dirty)">Please re-enter Password </p>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" [disabled]="!registerForm.form.valid">Register</button>
            <a routerLink="/login" class="btn btn-success btn-block">Login</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
