<input class="dt-filter-input"
       #filterInput
       placeholder="{{searchMessage}}"
       [(ngModel)]="searchFilterText"/>

<div class="filter-menu">
  <ul class="list-menu">
    <li *ngIf="multiple">
      <span class="datatable-checkbox" (click)="onCheckboxAllClick()">
        <input type="checkbox"
               [checked]="allSelected"
               [indeterminate]="partiallySelected"/>
        <label>{{selectAllMessage}}</label>
      </span>
    </li>
    <li class="list-divider"></li>

    <li *ngFor="let option of options | filterBy: 'name':searchFilterText">

      <ng-container *ngIf="!multiple">
        <span [ngClass]="{'active': isSelected(option.id)}"
              (click)="setSelected(option.id)">
          <i class="icon" [class.icon-ok]="isSelected(option.id)"></i>&nbsp;&nbsp;{{option.name}}
        </span>
      </ng-container>

      <ng-container *ngIf="multiple">
        <span class="datatable-checkbox" (click)="setSelected(option.id)">
          <input type="checkbox"
                 [checked]="isSelected(option.id)"/>
          <label>{{option.name}}</label>
        </span>
      </ng-container>

    </li>
  </ul>
</div>

<ul class="list-menu">
  <li class="list-divider"></li>
  <li>
    <div class="list-menu-row">
        <span class="active" (click)="onClickOk()" *ngIf="multiple">OK</span>
        <span class="active" (click)="onClickCancel()">{{cancelMessage}}</span>
        <span class="active" (click)="onClickClear()">{{clearMessage}}</span>
    </div>
  </li>
</ul>
