<div class="dt-toolbar-row">
    <div class="dt-toolbar-col" *ngIf="createAction">
        <button type="button"
                class="dt-toolbar-button"
                (click)="createActionClick()">{{table.messages.create}}
        </button>
    </div>
    <div class="dt-toolbar-col dt-global-filter" *ngIf="globalFilter">
        <div class="dt-input-group">
            <input class="dt-input-element"
                    [attr.placeholder]="table.messages.search"
                    [(ngModel)]="table.dataFilter.globalFilterValue"
                    (keypress)="onKeyPressGlobalSearch($event)">
            <button type="button"
                    class="dt-toolbar-button"
                    (click)="onClickGlobalSearch()">{{table.messages.go}}
            </button>
        </div>
    </div>
  <div class="dt-toolbar-col" *ngIf="exportAction">
    <button class="dt-toolbar-button" (click)="downloadCsv()">{{table.messages.export}}</button>
  </div>
</div>
