mat-grid-tile {
    background: lightblue;
  }

  button:focus {
    outline: none !important;
}

.filterBtn {
    margin: 5% !important;
}

.save-filter-dialog {
    text-align: center
}

.save-filter-dialog .dialogBtn {
    display: block;
}

.mat-checkbox-layout {
    margin-bottom: 0 !important;
}

.filterName {
    font-weight: 700;
    font-size: 14px
}

.mat-radio-label {
    white-space: normal !important;
}

.dt-toolbar-row {
    float: right;
    margin-right: 20px !important;
}
