<div class="row topMargin" style="margin-top:5%">
  <div class="col-2 col-md-2 col-sm-2">
    <!-- Default unchecked -->
    <div>
      <h3>
        <span class="badge cyan"
          >Advance Filters <i class="fa fa-play" aria-hidden="true"></i>
        </span>
      </h3>
      <div class="row"><app-device-filter></app-device-filter></div>
      <button
        class="btn filterBtn"
        mat-raised-button
        color="primary"
        (click)="ngOnInit()"
      >
        Filter
      </button>
      <button
        class="btn filterBtn"
        mat-raised-button
        color="primary"
        (click)="saveFilterDialog()"
      >
        Save
      </button>
    </div>
  </div>
  <div class="col-8 col-md-8 col-sm-8">
    <h2 class="text-center">Devices List</h2>
    <app-crud-table [dataManager]="dataManager"></app-crud-table>
  </div>
  <div class="col-2 col-md-2 col-sm-2">
    <div>
      <h3>
        <span class="badge cyan"
          >Saved Filters <i class="fa fa-play" aria-hidden="true"></i>
        </span>
      </h3>
      <mat-radio-group [(ngModel)]="selectedFilter">
        <div *ngFor="let filter of getFilters; let i = index">
          <mat-radio-button
            class="filterName"
            id="filter[{{filter['id']}}]"
            (change)="getTableData(filter['saved_query'])"
            [value]="filter['id']"
            ngDefaultControl
            >{{ filter["name"] }}
            <button
              mat-icon-button
              (click)="deleteFilterDialog(filter['id'])"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-radio-button>
          <button
        class="btn-danger filterBtn"
        mat-raised-button
        (click)="clearSortingFilters()"
      >Clear</button>
        </div>
      </mat-radio-group>
    </div>
  </div>
</div>
