<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" style="background-image:url('../../assets/login11.jpg');
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover; ">
  <div fxLayout="column">
    <div class=" mat-elevation-z4">
      <mat-card>
        <mat-card-title>User login
        </mat-card-title>
        <mat-card-content>
        <p class="text-danger error_message" *ngFor="let msg of errMsgArr"> {{msg}}</p>
          <form class="login-form" fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="userForm" (ngSubmit)="login()">
            
            <mat-form-field class="full-width">
              <input type="text" id="username" class="input" placeholder="EmailId" formControlName="username" required matInput>
            </mat-form-field>
            <p class="text-danger" *ngIf="userForm.get('username').invalid && (userForm.submitted || userForm.get('username').dirty)">Please provide correct Email</p>
            <mat-form-field class="full-width">
              <input type="password" id="password" class="input" placeholder="Password" formControlName="password" required matInput>
            </mat-form-field>
            <p class="text-danger" *ngIf="userForm.get('password').invalid && (userForm.submitted || userForm.get('password').dirty)">Please correct password</p>
            <button class="btn loginBtn" mat-raised-button color="primary" type="submit">Sign In</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
